/**
 * Style examples for userChrome.css
 */


/**
 * [NaviButton.uc.js] Backward button with a referrer.
 */
#back-button[ucjs_NaviButton_referrer] {
  background-image: linear-gradient(to right, hsl(215, 60%, 88%), hsl(215, 58%, 84%)) !important;
  box-shadow: 0 0 1px 1px hsl(215, 54%, 33%, .1) inset !important;
}
#back-button[ucjs_NaviButton_referrer] > .toolbarbutton-icon {
  opacity: 1 !important;
}

/**
 * [TabEx.uc.js] Unread tab.
 */
.tabbrowser-tab:not([ucjs_TabEx_read]),
/* menuitem */
.ucjs_UI_Menuitem_unreadTab {
  color: brown !important;
}

/**
 * [TabEx.uc.js] Suspended loading tab.
 */
.tabbrowser-tab[ucjs_TabEx_suspended] {
  font-style: italic !important;
}
/**
 * WORKAROUND: Pseudo italic for a font that has no italic for zenkaku
 * characters such as 'Meiryo'. Use this style for such font instead above.
 */
.tabbrowser-tab[ucjs_TabEx_suspended] > .tab-stack > .tab-content > .tab-label-container > .tab-text {
  transform: skewX(-15deg);
}
